$primary: #131b20;
$secondary: #0d4496;
$secondary-font: #cccccc;
$header-height: 40px;

:root{
    --primary-color: #{$primary};
    --secondary-color: #{$secondary};
    --secondary-font: #{$secondary-font};
    --header-height: #{$header-height};
}

@font-face {
    font-family: poppin;
    src: url(/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppin;
    src: url(/assets/fonts/Poppins-bold.ttf);
    font-weight: bold;
}

body {
    //background-image: url(/assets/images/background.png);
    background-color: var(--primary-color);
    color: $secondary-font;
    font-family: poppin;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    text-align: center;
}
main{
    min-height: 100vh;
    margin-left: 20%;
    padding: 1em;

    section{
        height: 97vh;
        background-size: cover;
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

footer{
    color:white;
    background-color: black;
    min-height: 5rem;
    overflow: hidden;
    position: relative;
}

nav.side-nav{
    background-color: #0d1316;
    color: #cccccc;
    padding-top: 1em;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    h1{
        font-size: 1em;
        span{
            color:var(--secondary-color)
        }
    }
    .profile{
        background-color: white;
        width: 6rem;
        height: 6rem;
        display: inline-flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        img{
            width: 95%;
        }
    }

    a, a:active, a:visited, a:link{
        text-decoration: none;
        cursor: pointer;
        color: var(--secondary-font)
    }
    a:hover{
        color:white;
    }
    .nav-body{
        display: grid;
        text-align: left;
        row-gap: 1em;
        margin-inline: 4em;
    }
}

.cntr-container{
    margin-inline: auto;
}

.center-screen{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.welcom{
    display: grid;
    grid-template-columns: 22vw 40%;
    column-gap: 10%;
    justify-content: center;
}

.intro-body{
    .intro-text{
        text-align: left;
        align-self: center;
        p{
            color:var(--secondary-font);
        }
    }

    img.intro-img{
        width: 75%;
    }
}

@media screen and (min-width: 800px){
    .cntr-container{
        max-width: 770px;
    }
}
@media screen and (min-width: 950px){
    .cntr-container{
        max-width: 900px;
    }
}
@media screen and (min-width: 1400px){
    .cntr-container{
        max-width: 1320px;
    }
}



//Animations
.bobbing{
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-name: bobbing;
    animation-duration: 4s;
}

@keyframes bobbing {
    0%{transform: translate(0,0);}
    50%{transform: translate(0,15px)}
    100%{transform: translate(0,0);}
}